.page-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh;
    background-color: black;
  }
  
  .page-content {
    color: white;
  }
  